.select-menu-cartoon-cls {
    display: none;
    position: relative;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
}
.cat_and_karamelka-img {
    width: 175px;
    position: absolute;
    right: -20px;
    top: -170px;
}


